*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    position: fixed;
    top: 0;
}
.navbar ul.nav{
    margin-right: 15%;
}
.navbar ul.nav li.active{
    background: rgb(255, 255, 255, 0.5);
    color: #000;
}
